---
BasedOnStyle: Google
IndentWidth: 2
UseTab: false
BreakBeforeBraces: Allman
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
---
